<h1>Stergerea sa efectuat cu succes</h1>
<h1>Acest user a fost sters!</h1>
Nume: <%= @user.nume%></br>
Email: <%= @user.email%></br>
Id: <%= @user.id%></br>

<td><%= link_to 'Back', users_index_path %></td>